@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    padding: 10px;
    border-radius: 5px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
}

header {
    background-color: #e4c6a5;
    padding: 50px 240px;
}

.nav-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 20px;
    font-weight: 500px;
    font-size: 1rem;
}

.nav-title {
    font-family: 700px;
    font-size: 2.8rem;
    color: rgb(20, 20, 20);
}

nav li a {
    text-decoration: none;
    color: rgb(19, 14, 14);
}

.banner-contain {
    max-width: 880px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-family: 700px;
    color: #131313;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
}

.banner img {
    margin-top: 30px;
    width: 100%;
}


    /* Features-contain style */
    main{      
        max-width: 1440px;
        margin: 70px auto;      
    }
    .feature-contain{
        display: flex;
        align-items:center ;
    }
    .Features-images{
        /* margin-top: 30px; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .Features-title{
        padding-left: 70px;
        padding-right: 60px;
        text-align: start;
      
        
    }
    .feature-col{
        color: #FF900E;
        font-family: 700px;
    }
    .feature-lis{
        color: #727272;
        font-weight: 500px;
        font-size:2 rem;
    }
    .main-section{
        display: flex;
        align-items: center;
    }


    /* responsive style */
/* mobile devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav, .feature-contain {
        flex-direction: column;
    }
    .Features-images{
        grid-template-columns: 1fr;
    }
    .Features-title{
        padding-left: 20px;
        padding-right: 20px;
    }

}
.section-step{
    font-size: 20px;
}

/* tablets or mediem */
@media screen and (min-width:576px) and (max-width:992px) {
    nav, .feature-contain  {
        flex-direction: column;
        }
        header{
            padding: 40px;
        }
    }


